<%= render 'product_sort' %>
<div class="container-fluid">
    <div class = "row">
        <% @products.each do |product| %>
            <div class="col-sm-2 mt-2">
                <div class="card">
                    <% if product.images.attached? %>
                        <%= image_tag product.images[0].variant(:thumbnail) %>
                    <% end %>
                    <div class="card-body">
                        <h5 class="card-title"><%= product.title %></h5>
                        <p class="card-text">
                            Price: <%= product.price %><br>
                            <%= product.description %>
                        </p>
                        <%= link_to 'Open product', product, class: 'btn btn-primary' %>
                        <%= link_to 'Add to cart', product_order_items_path(product), data: {"turbo-method": :post}, class: 'btn btn-outline-success' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <%== pagy_nav(@pagy) %>
</div>